{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}
{% block body %}




<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Shopify</h1>
      <p>Shopify Pvt Ltd. is an Indian electronic commerce company based in Bengaluru, India. Founded by Ashwinder singh and Japneet singh in 2007, the company initially focused on book sales, before expanding into other product categories such as consumer electronics, fashion, and lifestyle products.

The service competes primarily with Amazon' s Indian subsidiary, and the domestic rival Snapdeal.[5][6] as of March 2017, Flipkart held a 39.5% market share of India's e-commerce industry.[7] Flipkart is significantly dominant in the sale of apparel (a position that was bolstered by its acquisitions of Myntra and Jabong.com), and was described as being "neck and neck" with Amazon in the sale of electronics and mobile phones.[8] Flipkart also owns PhonePe, a mobile payments service based on the Unified Payments Interface (UPI).

In August 2018, U.S.-based retail chain Walmart acquired a 77% controlling stake in Flipkart for US$16 billion, valuing it at $22 billion.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>sahibeer singh</h2>
          <h3>investor</h3>
        <p>He has been named on Esquire's List of the 75 Most Influential People of the 21st Century[2] and ranked 78 among the 100 most influential people in the world on the Time 100 (compiled by Time Magazine, 2009).[3] He was also listed amongst 25 Asia’s Most Powerful people by Fortune Magazine.[4]

Based in Mumbai, India, Ronnie pioneered Cable Television, built a Media and Entertainment conglomerate (UTV Software Communications) that partnered with News Corp, 20th Century Fox, The Walt Disney Company and Bloomberg and later in 2012, he divested the company to Disney for an enterprise value of US$1.4 billion.[5]

From 2013 onwards, he and his wife scaled their Non-Profit The Swades Foundation whose goal is to work with a million people in rural India, empower them and move them out of poverty every 6–7 years and then move to another geography.[6  <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>japneet singh</h2>
          <h3>co-head</h3>
        <p> is an Indian singer, actor and television presenter who works in Punjabi and Hindi cinema.[2][3] He is recognised as one of the leading artists in the Indian music industry.[4] He also acts in Punjabi movies, with many of them being commercially successful, including Jatt & Juliet, Jatt & Juliet 2, Punjab 1984, Sardaar Ji, Ambarsariya, Sardaar Ji 2, Super Singh, Sajjan Singh Rangroot and Shadaa – which are among the most successful Punjabi movies in history.[5]
          <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>ashwinder singh</h2>
          <h3>Chief Developer</h3>
        <p> is an Indian-American business executive,[5] the chief executive officer (CEO) of Alphabet Inc. and its subsidiary Google LLC.[6][7][8] ashwinder began his career as a electronics and computer engineer and joined Google as a management executive in 2004. He rose to become the company's Product Chief and the CEO in 2015, as part of the restructuring process that turned Alphabet Inc. into Google's parent company.[9][10] In December 2019, he additionally became CEO of Alphabet Inc.[11][12]

          <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->





  <footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-0 pb-0">
    <!-- Section: Social media -->
    <section class="mb-0">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="//www.facebook.com/simar.kataria.10/" role="button"
        >FACEBOOK</a>

   
   

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="//www.instagram.com/ashwinder_1/" role="button"
        >Instagram</a>


      <!-- youtube -->
      <a class="btn btn-outline-light btn-floating m-1" href="//www.youtube.com/channel/UCOwRW7DWzkhKQl1rpSCn9UA" role="button"
        >youtube</a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-white" href="/shop">mycart</a>
  </div>
  <!-- Copyright -->
</footer>

</main>





{% endblock %}