ORDER SUCCESS,


Dear {{name}},
Thank you for ordering with us nand making your purchase with us,
We’re glad that you found what you were looking for.
It is our goal that you are always happy with what you bought from us,
so please let us know if your buying experience was anything short of excellent. We look forward to seeing you again. Have a great day!
Your order id is : {{orderid}}


your Total price is: Rs {{amount}}

click the link given below to track your order
http://127.0.0.1:8000/shop/tracker/


Best Regards,
From Ceo
Ashwinder Singh
